.classpath
build/
error.log
/.gradle/
/gradle/
/.apt_generated/
.idea/
.gradlew
out/production/
bin/
map/produced map image.png
/full_image_0.png
/full_image_1.png
/full_image_2.png
/full_image_3.png
/data/test/
\.idea\.wiseGPT\
!data/
!data/clans/*
!data/*
!data/*/*
!data/*/*/*
!data/*/*/*/*
!*.json
gradle/*
data/cache/
data/characters/
!characters/swifty.json
!characters/pharaoh.json